.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #17a2b8;
}

[data-badge] {
  position: relative;
}
[data-badge]:after {
  position: absolute;
  right: -10px;
  top: -16px;
  width: 20px;
  height: 20px;
  line-height: 10px;
  padding: 5px;
  color: #fff;
  background-color: #bf1f1f;
  font-size: 10px;
  border-radius: 50%;
  content: attr(data-badge);
  border: solid 1px #c93a3a;
}

.dropdown-menu {
  top: 58px;
  right: 0px;
  left: unset;
  width: 400px;
  /* box-shadow: 0px 5px 7px -1px #c1c1c1; */
  padding-bottom: 0px;
  padding: 0px;
}
.dropdown-menu:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 10px;
  border: 10px solid #343a40;
  border-color: transparent transparent #343a40 transparent;
}
.head {
  padding: 10px 15px;
  border-radius: 3px 3px 0px 0px;
}
.footer {
  padding: 5px 15px;
  border-radius: 0px 0px 3px 3px;
}
.notification-box {
  padding: 5px 0px;
  border-width: 1px;
}

.notification-box:hover {
  background-color: rgb(208, 209, 226);
}

.bg-gray {
  background-color: #eee;
}
@media (max-width: 640px) {
  .dropdown-menu {
    top: 50px;
    left: -16px;
    width: 290px;
  }
  .nav {
    display: block;
  }
  .nav .nav-item,
  .nav .nav-item a {
    padding-left: 0px;
  }
  .message {
    font-size: 13px;
  }
}
